<div class="full-width">
  <div class="title-section">
    <p class="sub-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <h1 class="title">Lorem ipsum dolor sit amet</h1>
  </div>
  <div class="grid-container">
    <div class="grid-item">
      <div class="img-container">
        <img src="../../../assets/images/c1.png" alt="">
      </div>
      <h1 class="card-title">Lorem ipsum dolor sit amet</h1>
      <p class="sub-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    </div>

    <div class="grid-item">
      <div class="img-container">
        <img src="../../../assets/images/c2.png" alt="">
      </div>
      <h1 class="card-title">Lorem ipsum dolor sit amet</h1>
      <p class="sub-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    </div>

    <div class="grid-item">
      <div class="img-container">
        <img src="../../../assets/images/c3.png" alt="">
      </div>
      <h1 class="card-title">Lorem ipsum dolor sit amet</h1>
      <p class="sub-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    </div>

    <div class="grid-item">
      <div class="img-container">
        <img src="../../../assets/images/c4.png" alt="">
      </div>
      <h1 class="card-title">Lorem ipsum dolor sit amet</h1>
      <p class="sub-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    </div>
  </div>
  <div class="button-container">
    <button type="button" class="main-button">Check Our Offer</button>
  </div>
</div>