<div class="full-width">
  <div class="upper">
    <img src="../../../assets/images/sn1-bg.png" alt="">
  </div>

  <div class="lower">
    <img src="../../../assets/images/sn2-bg.png" alt="">
  </div>
  <div class="container">
    <div class="grid-container">
      <div class="grid-item">
        <div class="img-container">
          <img src="../../../assets/images/app1.png" alt="">
        </div>
      </div>
    
      <div class="grid-item first">
        <h1 class="card-title">Lorem ipsum dolor</h1>
        <p class="sub-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit.Voluptas, magnam inventore</p>
      </div>
    
      <div class="grid-item second">
        <h1 class="card-title">Lorem ipsum dolor</h1>
        <p class="sub-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, magnam inventore</p>
      </div>
    
      <div class="grid-item">
        <div class="img-container">
          <img src="../../../assets/images/app2.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>