<div class="grid-container">
  <div class="grid-item">
    <div class="img-container">
      <img src="../../../assets/images/ic1.png" alt="">
    </div>
  </div>

  <div class="grid-item first">
    <h1 class="card-title">Lorem ipsum dolor sit amet</h1>
    <p class="sub-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit.Voluptas, magnam inventore, aperiam, perspiciatis eos natus obcaecati perferendis porro</p>
  </div>

  <div class="grid-item second">
    <h1 class="card-title">Lorem ipsum dolor sit amet</h1>
    <p class="sub-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, magnam inventore, aperiam, perspiciatis eos natus obcaecati perferendis porro</p>
  </div>

  <div class="grid-item">
    <div class="img-container">
      <img src="../../../assets/images/ic2.png" alt="">
    </div>
  </div>
</div>