<div class="full-width">
  <div class="container">
    <div class="left">
      <div class="first">
        <img src="../../../assets/images/Snowflake.png" alt="">
      </div>
      <div class="second">
        <img src="../../../assets/images/user-photo.png" alt="">
      </div>
    </div>
    <div class="right">
      <h1 class="title">Template is awesome</h1>
      <p class="sub-title">Lorem ipsum, dolor sit amet consectetur adipisicing elit.Voluptas, magnam inventore</p>
      <span class="name">John Doe</span>
      <span class="position">CEO at Crios.com</span>
    </div>
  </div>
</div>